@charset "utf-8"; 
require bootstrap
require bootstrap-datetimepicker
 
/* body */ 
body { 
  background: #f2f2f2; 
} 
footer { 
  margin-top: 40px; 
} 
 
/* navbar */ 
.navbar { 
  background-color: #fff; 
} 

 
/* cover */ 
.cover .cover-image { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; 
  margin-bottom: 20px; 
  width: 100%; 
  height: 500px; 
  background: url("/images/cover-bg.jpg") center center no-repeat; 
  background-size: cover; 
} 

.cover .login-button { 
  margin: auto; 
  display: table; 
  vertical-align: middle; 
  text-align: center; 
  position: relative; 
} 



/* search */ 
.search { 
  margin-bottom: 20px; 
} 
.search .input-group{
  margin: 5px;
}
 
/* course */ 
.course .media {
  margin: 5px;
  padding: 10px;
  border: solid 1px #808080;
  border-radius: 10px;
}
.course .media-left img{ 
  height: 80px; 

} 
.course .media-body { 
  height: 80px; 
} 
p.course-title { 
  /* 文の行数を1行に保ち、最後に ... を追加するスタイル */ 
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 1; 
  overflow: hidden; 
}
p.course-address { 
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */ 
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2; 
  overflow: hidden; 
}

/*coursedetail*/
.coursedetail .media-left img{
  margin-bottom: 10px;
  height: 240px; 
  width: 320px; 
}

.coursedetail .score {
  margin-top: 30px;
  text-align: center
}

/*masterscore*/
.masterscore table{
  table-layout: fixed;
}

.masterscore #overview th{
  text-align: center;
  width: 75px;
}

.masterscore td{
  text-align: center;
}

@media screen and (min-width:481px) { 
  .masterscore #detail th{
    text-align: center;
    width: 75px;
  }
  
}

@media screen and (max-width:480px) { 
  .masterscore #detail table{
    width: 100%;
  }
  
  .masterscore #detail th{
    text-align: center;
    width: 100%;
    height: 40px;
    display: block;
  }
  
  .masterscore #detail td{
    width: 100%;
    height: 40px;
    display: block;
  }
  
  .masterscore #detail tr{
    width: 50%;
    display: inline-block;
  }
  
  .masterscore .score{
    height: 30px;
  }
  
}

/* user-profile*/
.user-profile .score-statistic {
  text-align: center;
}

.user-profile .score-list th {
  text-align: center;
}

.user-profile .score-list td {
  text-align: center;
}
